node{
    size:50px;
    fill-color: blue;
    stroke-mode: plain;
    stroke-color: black;   
}

node:clicked {
    fill-color: green;
}

node.quadradoTS{
    fill-color: rgb(205,205,205);
    shape: box;
}
node.projetoTS{
    fill-color: rgb(147,219,112);
    shape: circle;
}
node.metodo{
    size:25px;
    fill-color: yellow;
    stroke-mode: plain;
    stroke-color: black;   
}

node.boneco{
    fill-mode: image-scaled; 
    fill-image: url('tsvizzevolution/boneco.png');
    
}

node.projeto{
    fill-mode: image-scaled; 
    fill-image: 
url('tsvizzevolution/projeto.png');
    
}
node.x{
    fill-mode: image-scaled;
    fill-image: 
url('tsvizzevolution/x.jpeg');

}
node.legenda{
    shape: box;
    size:180px;
    fill-mode: image-scaled;
    fill-image: 
url('tsvizzevolution/legenda.png');

}
